Source: ros-galactic-turtlebot4-robot
Section: misc
Priority: optional
Maintainer: rkreinin <rkreinin@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-galactic-ament-cmake, ros-galactic-turtlebot4-base, ros-galactic-turtlebot4-bringup, ros-galactic-turtlebot4-diagnostics, ros-galactic-turtlebot4-tests, ros-galactic-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-galactic-turtlebot4-robot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-galactic-turtlebot4-base, ros-galactic-turtlebot4-bringup, ros-galactic-turtlebot4-diagnostics, ros-galactic-turtlebot4-tests, ros-galactic-ros-workspace
Description: Turtlebot4 Robot Metapackage
